**/node_modules
scripts/
*.class
.DS_Store
src/_*
src/tmp*
bin/hs/cabal.project.local*
tmp.js
.vscode
*.orig
web/*.lock
base/.cache
/base/playground.kind
web/src/apps/*.js
web/events/data/*
*.so
*.wpo
.cache
/.gtm/
